html body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial;
}

.fond{
    background-color: #214d75;
    height: 100vh;
    width: 100vw;

}

.titre{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 3em;
    padding-top: 3%;
    padding-bottom: 3%;
}

input{
    margin-right: 4%;

}

label{
    margin-right: 1%;
}

.modif{
    display: flex;
    justify-content: center;
    padding-bottom: 4%;
}

.img{
    background-image: url("https://source.unsplash.com/7bwQXzbF6KE/800x500");
    height: 55vh;
    width: 60vw;
    background-size: cover;
    background-position: center;
    margin-left: 20%;
    margin-right: 20%;
    border: 10px solid white;
}

